@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;   
}

.second-header{
    margin-top: 70px;
    background: linear-gradient(to right, #5ff7ff, #2277ee);
    padding: 20px;
    color: white;
}

.about, .mission, .why-choose-us ,.features, .team {
    text-align: center;
    padding: 60px 20px;
    background: white;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 1000px;

}

.features-grid {
    display: grid;
    gap: 20px;
    text-align: center;
    padding: 20px;
}

.feature-box {
    background:rgb(255, 180, 41);
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.feature-box:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.team-grid {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto  auto auto;
    align-items: center;
    padding: 20px;
}

.team-member {
    background:rgb(135, 134, 134);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.team-member:hover {
    transform: scale(1.09);
    cursor: pointer;
}

.team-member img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}



.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
}

.btn {
    margin-top: 50px;
    display: inline-block;
    padding: 12px 25px;
    background:orange;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: #15ff00;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    margin-top: 20px;
}


@media (max-width: 712px) {
    
    .content {
        flex-direction: column;
    }
    .text {
        text-align: center;
    }
    .btn {
        display: block;
        margin: 15px auto 0;
    }

    .team-grid {
     gap: 40px;
     grid-template-columns: auto ;
    }

}



@media (max-width: 768px) {
    
    .content {
        flex-direction: column;
    }
    .text {
        text-align: center;
    }
    .btn {
        display: block;
        margin: 15px auto 0;
    }

}

