@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*============FOOTER============ */
.footer {
  margin-top: 20px;
  background: #10182F;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover {
  color: #fff;
}


@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}


/*============HEADER============ */
.header{
  margin-top: 20px;
}
.logo-link{
  text-decoration: none;
}
.container-inner{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo{
  display: flex;
  align-items: center;
  color:#333;
}


.nav-link {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-link ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.nav-link li {
  padding: 10px 0;
}

.nav-link a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.close-icon {
  display: none;
}

.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .hamburger {
      display: block; 
  }
  .nav-link {
      position: fixed;
      top: 0;
      right: -50%;
      width: 50%; 
      height: 100%;
      background: #fff;
      transition: right 0.3s ease-in-out;
      box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
  }

  .nav-link ul {
      flex-direction: column;
      align-items: center;
  }

  .close-icon {
      display: block;
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 24px;
      background: none;
      border: none;
      cursor: pointer;
  }

  .show-nav {
      right: 0;
  }

  #user-info {
    margin-left: 0;
  }
}


#auth-action{
  color: blue;
  font-size: larger;

}

.user-logged{
    color: black;
    font-size: large;
    background-color: greenyellow;
    padding: 10px;
    cursor: pointer;
    border-radius:50px;
}

#user-info{
  margin-left: 40px;
}