@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}

.container-feedback{
    margin-top: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.inner-feedback{
    width:500px;
    box-shadow: 0px 0px 10px rgba(0, 0,0, 0.2);
    padding: 20px;
    border-radius: 8px;
}

.feedback-body input{
    width: 100%;
    height: 40px;
    padding: 10px;
}

.feedback-body textarea{
    width: 100%;
    resize: none;
    height: 300px;
    padding: 10px;
}
.feedback-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submit-btn{
    width: 100%;
    height: 45px;
    background-color: #8FD14F;
    border: none;
    color: white;
    cursor: pointer;
    font-size: medium;
}

.submit-btn:hover{
    color: #333;
}


.container-feedbacks{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-template-columns: auto auto auto;
}

.feedback-card {
    width: 320px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    padding: 20px;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.feedback-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
}

.user-info h3 {
    margin: 0;
    font-size: 1.1rem;
    color: #333;
}

.user-feedback p {
    font-style: italic;
    color: #555;
    font-size: 0.95rem;
    line-height: 1.4;
    margin: 0;
}

