
.order-container{
    margin-top: 70px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 40px;
}

.Order-Card{
    padding: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    max-width: fit-content;
}