h3 {
    color: blueviolet;
    margin: 15px;
    margin-bottom: 15px;
    padding: 0px;
}

.page {
    margin-left: 150px;
    margin-right: 150px;
}

.topic {
    padding: 0px;
}

@media (max-width: 616px) {
    .page {
        margin-left: 100px;
        margin-right: 100px;
    }
    .topic p{
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
    .page {
        margin-left: 60px;
        margin-right: 60px;
    }
}