.container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* Creates 4 equal columns */
  gap: 20px;
  /* Adds spacing between grid items */
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
}

.content {
  margin-top: 4%;
  margin-left: 6%;
  margin-right: 8%;
}

.containerCard {
  margin: 15px;
  display: flex;
  padding: 10px;
  padding-top: 15px;
  padding-left: 20px;
  background-color: rgb(248, 244, 244);
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.container .imageBox .img {
  width: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(185, 185, 185, 0.2),
    0 6px 20px 0 rgba(155, 155, 155, 0.19);
}

.container .imageBox:hover .img {
  width: 150px;
  border-radius: 8px;
  scale: 1.1;
  transition: 0.4s;
}

.container .containerCard .productDetail {
  padding-left: 20px;
  position: relative;
}

.container .containerCard .bookname {
  position: absolute;
  top: 20px;
  font-size: 1.35rem;
  font-weight: 600;
  flex-wrap: wrap;
  line-height: 25px;
}

.container .containerCard .description {
  font-size: 0.9rem;
  line-height: 18px;
  padding-top: 10px;
}

.container .containerCard .bookauthor {
  display: flex;
  line-height: 1;
}

.container .containerCard .addCart {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 5px;
  border: none;
  color: azure;
  padding: 5px 10px;
  background-color: rgb(197, 125, 245);
}

.container .containerCard .addCart:hover {
  background-color: rgb(181, 121, 236);
  scale: 1.05;
  transition: 0.4s ease-in-out;
}

.container .containerCard .bookauthor .author {
  padding-right: 10px;
}

.container .containerCard .bookauthor {
  padding-top: 40px;
  font-size: 18px;
}

.container .containerCard .price {
  position: absolute;
  bottom: 95px;
  padding-top: 15px;
  font-size: 25px;
}

.container .containerCard .rate {
  position: absolute;
  bottom: 65px;
  font-size: 15px;
}

@media (max-width: 1392px) {
  .container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 784px) {
  .container {
    grid-template-columns: auto auto;
  }

  .container .containerCard .bookauthor {
    font-size: 18px;
    padding: 0;
  }

  .container .containerCard .price {
    font-size: 18px;
    padding: 0;
  }

  .container .containerCard .bookname {
    font-size: 18px;
    padding: 0;
    margin-top: 36px;
  }
}

@media (max-width: 746px) {
  .container {
    grid-template-columns: auto;
  }

  .container .containerCard .bookauthor {
    font-size: 18px;
    padding: 0;
  }

  .container .containerCard .price {
    font-size: 18px;
    padding: 0;
  }

  .container .containerCard .bookname {
    font-size: 18px;
    padding: 0;
    margin-top: 36px;
  }
}

@media (max-width: 528px) {
  .container {
    margin-left: -30px;
  }
}
